.card{
    max-width: 20%;
    background-color: black;
    border: 0.5px solid red;


}

#movie {
    background-color: black;
}


// .movie {
//   z-index: 1;
// }

// .titolo {
//   z-index: 10;
// }
